<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow-sm">
    <div class="container">
        <a class="navbar-brand" href="{% url 'docentes' %}">
            <i class="bi bi-person-video3"></i> Panel del Profesor
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTeacher">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTeacher">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'docentes' %}">
                        <i class="bi bi-house-door"></i> Inicio
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'seleccionar_clase_asistencia' %}">
                        <i class="bi bi-clipboard-check"></i> Asistencias
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'docentes' %}">
                        <i class="bi bi-journal-check"></i> Calificaciones
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'mesas_examen_docente' %}">
                        <i class="bi bi-clipboard-check"></i> Mesas de Examen
                    </a>
                </li>
            </ul>
            <div class="d-flex align-items-center">
                <form action="{% url 'set_language' %}" method="post" class="me-3">
                    {% csrf_token %}
                    <input name="next" type="hidden" value="{{ request.path }}">
                    <select name="language" class="form-select form-select-sm" onchange="this.form.submit()" style="width: auto; background-color: transparent; color: white; border-color: rgba(255,255,255,0.5);">
                        {% load i18n %}
                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        {% get_language_info_list for LANGUAGES as languages %}
                        {% for language in languages %}
                            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %} style="color: black;">
                                {{ language.name_local|capfirst }}
                            </option>
                        {% endfor %}
                    </select>
                </form>
                <div class="dropdown ms-3">
                    <a href="#" class="nav-link dropdown-toggle text-white" id="userDropdown" 
                       data-bs-toggle="dropdown">
                        <img src="" class="rounded-circle me-1" width="30">
                        Prof. {{ request.user.email }}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><h6 class="dropdown-header">Sesión activa</h6></li>
                        <li><a class="dropdown-item" href="#"><i class="bi bi-person"></i> Mi Perfil</a></li>
                        <li><a class="dropdown-item" href="#"><i class="bi bi-gear"></i> Configuración</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'logout' %}"><i class="bi bi-box-arrow-right"></i> Cerrar Sesión</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>