<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow-sm">
    <div class="container">
        <a class="navbar-brand" href="{% url 'teacher_dashboard' %}">
            <i class="bi bi-person-video3"></i> Panel del Profesor
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTeacher">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTeacher">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'teacher_courses' %}">
                        <i class="bi bi-journal-bookmark"></i> Mis Cursos
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'teacher_attendance' %}">
                        <i class="bi bi-clipboard-check"></i> Asistencias
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'teacher_grades' %}">
                        <i class="bi bi-journal-check"></i> Calificaciones
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'teacher_tasks' %}">
                        <i class="bi bi-list-task"></i> Tareas
                    </a>
                </li>
            </ul>
            <div class="d-flex align-items-center">
                <div class="dropdown">
                    <a href="#" class="nav-link dropdown-toggle text-white" id="notificationsDropdown" 
                       data-bs-toggle="dropdown">
                        <i class="bi bi-bell"></i>
                        <span class="position-absolute top-10 start-90 translate-middle badge rounded-pill bg-danger">
                            3
                        </span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><h6 class="dropdown-header">Notificaciones</h6></li>
                        <li><a class="dropdown-item" href="#">Nueva tarea entregada</a></li>
                        <li><a class="dropdown-item" href="#">Reunión de profesores</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Ver todas</a></li>
                    </ul>
                </div>
                <div class="dropdown ms-3">
                    <a href="#" class="nav-link dropdown-toggle text-white" id="userDropdown" 
                       data-bs-toggle="dropdown">
                        <img src="{% static 'img/teacher-avatar.jpg' %}" class="rounded-circle me-1" width="30">
                        Prof. {{ request.user.last_name }}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><h6 class="dropdown-header">Sesión activa</h6></li>
                        <li><a class="dropdown-item" href="#"><i class="bi bi-person"></i> Mi Perfil</a></li>
                        <li><a class="dropdown-item" href="#"><i class="bi bi-gear"></i> Configuración</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'logout' %}"><i class="bi bi-box-arrow-right"></i> Cerrar Sesión</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>